body {
  font-family: sans-serif;
  margin:0;
  padding: 0;
  background: #333;
}

img {
  width: 100%;
  height: 1300px;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

h1 {
  padding: 40px 20px 0;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

p#description {
  text-align: center;
  color: #fff;
}

form {
  position: relative;
  max-width: 400px;
  /* max-height: 800px; */
  padding: 15px;
  margin: 15px auto 15px;
}

fieldset {
  border: none;
}

form label,
form legend {
  color: #fff;
}

form input {
  margin: 8px 0;
  padding-top: 8px;
  padding-left: 12px;
  width: 100%;
  border-radius: 2px;
  border: none;
}

form input.radio,
form input.checkbox {
  width: 10%;
}

form select {
  font-size: 0.9rem;
  padding: 8px 8px 0 ;
  color: #777;
}

form #dropdown {
  padding-top: 8px;
  width: 100%;
  border-radius: 2px;
  border: none;
}

.disabled {
  padding-left: 8px;
}

form input.checkbox {
  width: 40px;
}

form #submit {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 6px 0;
  border-radius: 6px;
  margin-top: 18px;
}

form #submit:hover {
  opacity: 0.8;
}